<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="byteface">
    <title>pythumb - flask list test</title>
</head>
<body>

{% for image in list %}
	<img alt="r8lst" title="r8lst" src="{{ getThumbnail( image.link, 100 ) | safe }}" />
{% endfor %}

</body>
<html>